<a href="https://colab.research.google.com/github/Yusuf80216/my_notebooks/blob/main/Spaceship_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Training Dataset

!gdown 1LsNhgO7tqXng_qndVHtCOm1Fb_4web0C

Downloading...
From: https://drive.google.com/uc?id=1LsNhgO7tqXng_qndVHtCOm1Fb_4web0C
To: /content/train.csv
100% 805k/805k [00:00<00:00, 94.2MB/s]

In [ ]:
#Testing Dataset

!gdown 14s-9A2SbGEkSXpdeG03zhJbfbZIcZqns

Downloading...
From: https://drive.google.com/uc?id=14s-9A2SbGEkSXpdeG03zhJbfbZIcZqns
To: /content/test.csv
100% 372k/372k [00:00<00:00, 148MB/s]

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [ ]:
trainData = pd.read_csv("/content/train.csv")
testData = pd.read_csv("/content/test.csv")

In [ ]:
testData

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [ ]:
trainData

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [ ]:
trainData.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [ ]:
trainData.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [ ]:
trainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [ ]:
trainData["VIP"].value_counts()

False    8291
True      199
Name: VIP, dtype: int64

In [ ]:
def bool_replace(data):
    cols = ["CryoSleep", "VIP"]

    for col in cols:
        # if "Unknown" in data[col].values:
        #     pass
        # else:
        data[col] = data[col].fillna(-1)
        data[col] = data[col].replace({False: 0, True: 1})
        data[col] = data[col].replace({"Unknown": -1})
        
    
    return data

trainData = bool_replace(trainData)

trainData["Transported"] = trainData["Transported"].replace({False: 0, True: 1})

testData = bool_replace(testData)

In [ ]:
trainData["VIP"].values[0]

0

In [ ]:
cols = ["Age", "RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck"]

def median_replace(data):
    for col in cols:
        data[col] = data[col].fillna(data[col].median())

    return data

median_replace(trainData)
median_replace(testData)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,1,G/3/S,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,0,F/4/S,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,1,C/0/S,55 Cancri e,31.0,0,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,0,C/1/S,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,0,F/5/S,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,1,G/1496/S,TRAPPIST-1e,34.0,0,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,0,NaN,TRAPPIST-1e,42.0,0,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,1,D/296/P,55 Cancri e,26.0,0,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,0,D/297/P,NaN,26.0,0,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,1,G/1498/S,PSO J318.5-22,43.0,0,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [ ]:
trainData["CryoSleep"].value_counts()

 0    5439
 1    3037
-1     217
Name: CryoSleep, dtype: int64

In [ ]:
trainData["VIP"].value_counts()

 0    8291
-1     203
 1     199
Name: VIP, dtype: int64

In [ ]:
def bool_col_fix(data):
    cols = ["CryoSleep", "VIP"]

    for col in cols:
        data[col] = data[col].fillna(-1)
        
    
    return data

bool_col_fix(trainData)
bool_col_fix(testData)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,1,G/3/S,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,0,F/4/S,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,1,C/0/S,55 Cancri e,31.0,0,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,0,C/1/S,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,0,F/5/S,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,1,G/1496/S,TRAPPIST-1e,34.0,0,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,0,NaN,TRAPPIST-1e,42.0,0,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,1,D/296/P,55 Cancri e,26.0,0,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,0,D/297/P,NaN,26.0,0,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,1,G/1498/S,PSO J318.5-22,43.0,0,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [ ]:
def col_dropper(data):
    cols = ["Cabin", "Name"]
    
    data = data.drop(cols, axis = 1, inplace=True)

    return data

col_dropper(trainData)
col_dropper(testData)

In [ ]:
trainData["CryoSleep"].isnull().sum()

0

In [ ]:
trainData["VIP"].isnull().sum()

0

In [ ]:
testData.sample(20)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
1971,4248_02,Earth,0,TRAPPIST-1e,32.0,0,156.0,0.0,153.0,138.0,0.0
3289,7209_01,Europa,0,TRAPPIST-1e,36.0,0,0.0,0.0,0.0,0.0,0.0
243,0514_01,Earth,1,TRAPPIST-1e,17.0,0,0.0,0.0,0.0,0.0,0.0
2076,4495_01,Europa,0,TRAPPIST-1e,47.0,0,0.0,3219.0,0.0,891.0,3641.0
1856,3951_01,Earth,0,TRAPPIST-1e,19.0,0,3.0,52.0,0.0,12.0,649.0
3373,7378_01,Earth,0,TRAPPIST-1e,33.0,0,157.0,645.0,0.0,1447.0,1.0
2818,6233_01,Earth,0,PSO J318.5-22,25.0,0,560.0,0.0,79.0,2.0,29.0
684,1394_01,Earth,1,PSO J318.5-22,47.0,0,0.0,0.0,0.0,0.0,0.0
4022,8761_01,Mars,0,TRAPPIST-1e,65.0,0,2054.0,66.0,268.0,0.0,0.0
2967,6516_02,Europa,1,55 Cancri e,22.0,0,0.0,0.0,0.0,0.0,0.0
672,1363_01,Earth,0,TRAPPIST-1e,36.0,0,63.0,556.0,0.0,192.0,0.0
646,1334_01,Earth,0,TRAPPIST-1e,23.0,0,0.0,38.0,0.0,337.0,448.0
3527,7654_01,Europa,1,TRAPPIST-1e,34.0,0,0.0,0.0,0.0,0.0,0.0
3049,6688_01,Europa,1,TRAPPIST-1e,28.0,0,0.0,0.0,0.0,0.0,0.0
372,0775_03,Europa,1,TRAPPIST-1e,18.0,0,0.0,0.0,0.0,0.0,0.0
713,1471_03,Earth,0,TRAPPIST-1e,1.0,0,0.0,0.0,0.0,0.0,0.0
2342,5094_02,Earth,0,55 Cancri e,20.0,0,0.0,68.0,31.0,167.0,381.0
3662,7971_01,Europa,1,55 Cancri e,37.0,0,0.0,0.0,0.0,0.0,0.0
1962,4234_02,Mars,0,TRAPPIST-1e,42.0,0,65.0,0.0,0.0,957.0,0.0
181,0366_01,Earth,1,TRAPPIST-1e,24.0,0,0.0,0.0,0.0,0.0,0.0

In [ ]:
trainData["CryoSleep"].value_counts()

 0    5439
 1    3037
-1     217
Name: CryoSleep, dtype: int64

In [ ]:
trainData["HomePlanet"].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [ ]:
trainData["Destination"].value_counts()

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [ ]:
# cols = ["HomePlanet", "Destination"]

# def row_dropper(data):
#     data = data.dropna(subset = cols, inplace=True)

#     return data

# row_dropper(trainData)
# row_dropper(testData)

In [ ]:
testData

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0013_01,Earth,1,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0
1,0018_01,Earth,0,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0
2,0019_01,Europa,1,55 Cancri e,31.0,0,0.0,0.0,0.0,0.0,0.0
3,0021_01,Europa,0,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0
4,0023_01,Earth,0,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,1,TRAPPIST-1e,34.0,0,0.0,0.0,0.0,0.0,0.0
4273,9269_01,Earth,0,TRAPPIST-1e,42.0,0,0.0,847.0,17.0,10.0,144.0
4274,9271_01,Mars,1,55 Cancri e,26.0,0,0.0,0.0,0.0,0.0,0.0
4275,9273_01,Europa,0,NaN,26.0,0,0.0,2680.0,0.0,0.0,523.0
4276,9277_01,Earth,1,PSO J318.5-22,43.0,0,0.0,0.0,0.0,0.0,0.0

In [ ]:
def encoder(data):
    cols = ["HomePlanet", "Destination"]

    for col in cols:
        # data_new = pd.get_dummies(data[col])
        # data = data.join([data_new])
        # data = data.drop(col, axis = 1)
        data[col] = data[col].fillna(-1)
    return data

trainData = encoder(trainData)
testData = encoder(testData)

trainData["HomePlanet"] = trainData["HomePlanet"].replace({"Earth": 0, "Europa": 1, "Mars": 2})
trainData["Destination"] = trainData["Destination"].replace({"TRAPPIST-1e": 0, "55 Cancri e": 1, "PSO J318.5-22": 2})
testData["HomePlanet"] = testData["HomePlanet"].replace({"Earth": 0, "Europa": 1, "Mars": 2})
testData["Destination"] = testData["Destination"].replace({"TRAPPIST-1e": 0, "55 Cancri e": 1, "PSO J318.5-22": 2})

In [ ]:
trainData

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,1,0,0,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,0002_01,0,0,0,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,0003_01,1,0,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,0003_02,1,0,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,0004_01,0,0,0,16.0,0,303.0,70.0,151.0,565.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,1,0,1,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0
8689,9278_01,0,1,2,18.0,0,0.0,0.0,0.0,0.0,0.0,0
8690,9279_01,0,0,0,26.0,0,0.0,0.0,1872.0,1.0,0.0,1
8691,9280_01,1,0,1,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0
8692,9280_02,1,0,0,44.0,0,126.0,4688.0,0.0,0.0,12.0,1

In [ ]:
# trainData = trainData.drop(["RoomService", "FoodCourt","ShoppingMall","Spa", "VRDeck"], axis = 1)
# testData = testData.drop(["RoomService", "FoodCourt","ShoppingMall","Spa", "VRDeck"], axis = 1)

In [ ]:
# trainData = trainData.drop(["Earth", "Europa","Mars"], axis = 1)
# testData = testData.drop(["Earth", "Europa","Mars"], axis = 1)

In [ ]:
# trainData = trainData.drop(["55 Cancri e", "PSO J318.5-22","TRAPPIST-1e"], axis = 1)
# testData = testData.drop(["55 Cancri e", "PSO J318.5-22","TRAPPIST-1e"], axis = 1)

In [ ]:
# trainData = trainData.drop(["CryoSleep"], axis = 1)
# testData = testData.drop(["CryoSleep"], axis = 1)

In [ ]:
# trainData = trainData.drop(["VIP"], axis = 1)
# testData = testData.drop(["VIP"], axis = 1)

In [ ]:
# trainData = trainData.drop(["RoomService"], axis = 1)
# testData = testData.drop(["RoomService"], axis = 1)

In [ ]:
trainData.sample(5)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
4562,4856_01,0,0,0,39.0,0,12.0,8.0,0.0,4.0,753.0,1
8443,9018_01,0,0,0,23.0,0,0.0,554.0,0.0,299.0,0.0,0
2327,2508_01,1,1,1,57.0,0,0.0,0.0,0.0,0.0,0.0,1
6000,6351_01,0,0,1,14.0,0,0.0,973.0,0.0,1.0,0.0,1
6727,7096_02,1,0,0,27.0,0,0.0,14.0,0.0,0.0,2325.0,0

##Train Test Split

In [ ]:
X = trainData.drop(columns = ["PassengerId", "Transported"])
y = trainData["Transported"]


from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

#Model Intialization

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import accuracy_score

In [ ]:
knc = KNeighborsClassifier()
svc = SVC(kernel="rbf", 
        #   degree=2,
        #   shrinking=False
          )
gnb = GaussianNB()
bnb = BernoulliNB()
abc = AdaBoostClassifier(learning_rate = 0.15)
sgdc = SGDClassifier()
rfc = RandomForestClassifier()
dtc = DecisionTreeClassifier()
lr = LogisticRegression()
gbc = GradientBoostingClassifier()
hbc = HistGradientBoostingClassifier()
etc = ExtraTreesClassifier()

#Model in Action!

In [ ]:
classifiers = {
    "KNC": knc,
    "SVC": svc,
    "GNB": gnb,
    "BNB": bnb,
    "ABC": abc,
    "SGDC": sgdc,
    "RFC": rfc,
    "DTC": dtc,
    "LR": lr,
    "GBC": gbc,
    "HBC": hbc,
    "ETC": etc
}

In [ ]:
def train_classifier(clf, X_trin, y_train, X_test, y_test):
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)

    return acc

In [ ]:
accuracy_scores = []

for name, clf in classifiers.items():
    current_accuracy = train_classifier(clf, X_train, y_train, X_test, y_test)

    accuracy_scores.append(current_accuracy)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
acc_dataFrame = pd.DataFrame({"Algorithm": classifiers.keys(), "Accuracy": accuracy_scores})

In [ ]:
acc_dataFrame

   Algorithm  Accuracy
0        KNC  0.771708
1        SVC  0.808511
2        GNB  0.726855
3        BNB  0.740656
4        ABC  0.764807
5       SGDC  0.794710
6        RFC  0.794135
7        DTC  0.739505
8         LR  0.792984
9        GBC  0.812536
10       HBC  0.801035
11       ETC  0.786084

#Submission

In [ ]:
test_ids = testData["PassengerId"]
testData = testData.drop("PassengerId", axis=1)

In [ ]:
gbc.fit(X_train, y_train)
submission_preds = gbc.predict(testData)

In [ ]:
# accuracy_score(y_test, testData)

In [ ]:
submission_preds

array([1, 0, 1, ..., 1, 1, 1])

In [ ]:
df = pd.DataFrame({"PassengerId": test_ids.values,
                   "Transported": submission_preds,
                   })

In [ ]:
df

     PassengerId  Transported
0        0013_01            1
1        0018_01            0
2        0019_01            1
3        0021_01            1
4        0023_01            1
...          ...          ...
4272     9266_02            1
4273     9269_01            0
4274     9271_01            1
4275     9273_01            1
4276     9277_01            1

[4277 rows x 2 columns]

In [ ]:
df["Transported"] = df["Transported"].replace({0: False, 1: True})

In [ ]:
df.to_csv("spaceship_titanic_submission.csv", index=False)